
.header{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: fixed;
    z-index: 100;
}
.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 25px;
    margin-top: 18px;
}
.header__serarchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}
.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 50%;;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__nav > div:hover{
    color: #cd9042;
    cursor: pointer;
}
.header__optionBasket:hover{
    color: #cd9042;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: azure;
}
.header__optionBasket{
    display: flex;
    color: white;
}
.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}
.header__optionOne{
    font-size: 10px;
}
.header__optionTwo{
    font-size: 13px;
    font-weight: 800;
}

.two{
    display: flex;
    align-content: center;
    justify-content: center;
}

.header__secundaryOne{
    padding-top: 5px;
    position: fixed;
}
.header__location{
    align-content: center;
    justify-content: center;
}
